@import url("https://fonts.cdnfonts.com/css/sansation");
@import url("https://fonts.googleapis.com/css2?family=Fasthand&family=Judson:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fasthand&family=Inter:wght@100..900&family=Judson:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fasthand&family=Inter:wght@100..900&family=Judson:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0;
}

html {
  /* @apply scroll-smooth; */
}

body {
  @apply font-inter;
}

/* @layer components { */
h1 {
  @apply text-md lg:text-lg xl:text-[4rem];
}

h2 {
  @apply text-sm xl:text-lg;
}

h3 {
  @apply text-sm lg:text-md;
}

h4 {
  @apply text-xxs lg:text-xs xl:text-sm;
}

h5 {
  @apply text-xxs lg:text-xxs xl:text-xs;
}

h6 {
  @apply text-xxs lg:text-xxs xl:text-xxs;
}

button {
  @apply text-xxs md:text-xs;
}
/* } */

#nav-check:checked + #navbar {
  @apply h-auto pb-6;
}

#video-container iframe {
  @apply flex scale-0 transition duration-1000;
}

#video-container iframe {
  @apply flex scale-0 transition duration-1000;
}

#video-check:checked + #video-container iframe {
  @apply scale-100;
}

#video-container {
  @apply invisible duration-500;
}

#video-check:checked + #video-container {
  @apply visible;
}

.visit::after {
  content: "\f08e";
}

.category {
  display: none;
}

#cat-1:checked ~ #total-container #category-1,
#cat-2:checked ~ #total-container #category-2,
#cat-3:checked ~ #total-container #category-3,
#cat-4:checked ~ #total-container #category-4,
#cat-5:checked ~ #total-container #category-5,
#cat-6:checked ~ #total-container #category-6,
#cat-7:checked ~ #total-container #category-7,
#cat-8:checked ~ #total-container #category-8 {
  @apply grid;
}

#cat-1:checked ~ #total-container #category-label-1,
#cat-2:checked ~ #total-container #category-label-2,
#cat-3:checked ~ #total-container #category-label-3,
#cat-4:checked ~ #total-container #category-label-4,
#cat-5:checked ~ #total-container #category-label-5,
#cat-6:checked ~ #total-container #category-label-6,
#cat-7:checked ~ #total-container #category-label-7,
#cat-8:checked ~ #total-container #category-label-8 {
  @apply text-secondary underline underline-offset-[8px];
}
